In [ ]:
user  = {'Name' : "Seeta",
'age' : 23,
'email' : 'Seeta@example.com'}

In [15]:
def function (**kwargs):
        print(kwargs)
        print(type(kwargs))
        for key,value in kwargs.items():
                # print(f'key:{key},value:{value}')
                print(f'{key}: {value}')

In [16]:
function(name = 'Geeta', Age = 24)

{'name': 'Geeta', 'Age': 24}
<class 'dict'>
name: Geeta
Age: 24

In [17]:
function(name = 'Raman T', age = 25, email = 'fdfdfdfdfdf')

{'name': 'Raman T', 'age': 25, 'email': 'fdfdfdfdfdf'}
<class 'dict'>
name: Raman T
age: 25
email: fdfdfdfdfdf

In [18]:
function(name ='Seema',Degree='BE')

{'name': 'Seema', 'Degree': 'BE'}
<class 'dict'>
name: Seema
Degree: BE

In [19]:
def update_user(**kwargs):
    user= {'Name': None,
                'Age': None,
                    'email':None}
    user.update(kwargs)
    return user

In [21]:
update_user(Name = 'Seema',Age=23,email ='aa@gmail')

{'Name': 'Seema', 'Age': 23, 'email': 'aa@gmail'}

In [22]:
update_user(Name = 'Seema',Position= 'SSE',email ='aa@gmail')

{'Name': 'Seema', 'Age': None, 'email': 'aa@gmail', 'Position': 'SSE'}

In [23]:
update_user(Name = 'Seema',Age=17,Position= 'SSE',email ='aa@gmail')

{'Name': 'Seema', 'Age': 17, 'email': 'aa@gmail', 'Position': 'SSE'}

In [24]:
update_user(Name = 'Teena',Age=17,Position= 'SSE',email ='aa@gmail')

{'Name': 'Teena', 'Age': 17, 'email': 'aa@gmail', 'Position': 'SSE'}

In [25]:
def update_user(**kwargs):
    user= {'Name': None,
                'Age': 21,
                    'email':None}
    user.update(kwargs)
    return user

In [26]:
update_user(Location='Pune')

{'Name': None, 'Age': 21, 'email': None, 'Location': 'Pune'}

In [27]:
# Function for Creating Bill in hotel

In [29]:
Menu = {'Pizza' : 250, 'Burger' : 100, 'Sandwich': 100, 'Coffee': 40}
Menu

{'Pizza': 250, 'Burger': 100, 'Sandwich': 100, 'Coffee': 40}

In [31]:
Menu.get('Pizza')

250

In [33]:
a=Menu.get('Tea')
print(a)

None

In [38]:
def hotel_bill(**kwargs):
    total_bill = 0
    for food,quantity in kwargs.items():
        price = Menu.get(food)
        if price is not None:
            sub_tot = price*quantity
            print(f'Bill for {food}',sub_tot)
            total_bill += sub_tot
        else:
            print(f'{food} not Available')
    return total_bill

In [39]:
bill=hotel_bill(Pizza=2,Burger=3,Samosa=1)
print (f'Bill is {bill}')

Bill for Pizza 500
Bill for Burger 300
Samosa not Available
Bill is 800