In [ ]:
class Student:
    name = 'Karan'

In [5]:
P1=Student()
print(P1)

<__main__.Student object at 0x00000234E68F2EA0>

In [6]:
P1.name

'Karan'

In [7]:
class Student1:
    def __init__(self):
        print('I am Punam')

In [8]:
s1=Student1()

I am Punam

In [11]:
class Person:
    def __init__(self,Name,Age,Gender,Occupation):
        self.Name = Name,
        self.Age = Age,
        self.Gender = Gender,
        self.Occupation = Occupation

In [14]:
p1=Person(Name='Punam',Gender='F',Age=37,Occupation='Business')

In [15]:
p1.Name

('Punam',)

In [16]:
p1.Name='Seeta'
p1.Name

'Seeta'

In [17]:
p1.Salary=50000

In [18]:
p1.Salary

50000

In [19]:
p1.__delattr__('Salary')

In [20]:
p1.Salary

AttributeError: 'Person' object has no attribute 'Salary'

In [35]:
class Person1:
    country = 'India'
    def __init__(self,Name,Age,Gender,Occupation):
        self.Name = Name
        self.Age = Age
        self.Gender = Gender
        self.Occupation = Occupation
    
    def talk(self):
         print(f'My Name is {self.Name}')
         print(f'My age is {self.Age}')
         print(f'My Gender is {self.Gender}')
         print(f'My Occupation is {self.Occupation}')

In [36]:
p1=Person1(Name='Seeta',Gender='F',Age=37,Occupation='Business')
a=p1.Name
print(a)
p1.country

Seeta

'India'

In [37]:
p2=Person1(Name='Seeta',Gender='F',Age=37,Occupation='Business')

In [38]:
p2.country

'India'

In [39]:
p2.talk()

My Name is Seeta
My age is 37
My Gender is F
My Occupation is Business

In [40]:
from dataclasses import dataclass
from typing import Literal

In [45]:
@dataclass
class Student:
    Name : str
    Gender : Literal['Male','Female']
    Marks : int|float
    Hobbies : list[str]

    def get_info(self):
        print(f'I am {self.Name}')
        print(f'I got marks {self.Marks}')
        print(f'I am {self.Gender}')
        print(f'Hobbies are {self.Hobbies}')

In [46]:
s1=Student

In [47]:
s1 = Student('Seema','Female',89,['Reading','Singing'])

In [48]:
s1.Hobbies

['Reading', 'Singing']

In [49]:
s1 = Student('Seema','Female',89,'Reading','Singing')

TypeError: Student.__init__() takes 5 positional arguments but 6 were given

In [50]:
s1.get_info()

I am Seema
I got marks 89
I am Female
Hobbies are ['Reading', 'Singing']

In [68]:
@dataclass
class Account:
    Name :  str
    Acc_no : int
    Balance : float|int


    def check_bal(self):
        print(f'Current Account {self.Acc_no} balance is {self.Balance}')

    def deposit(self, amt:int|float):
        print(f'Amount of {amt} is added in {self.Acc_no}')
        self.Balance = self.Balance + amt
        self.check_bal()

    def withdraw(self, amt:int|float):
        if self.Balance < amt :
            raise ValueError('Insufficient Balance')
        else :
            self.Balance = self.Balance - amt
            print(f'Amount of {amt} is withdrawl from {self.Acc_no}')

    def transfer(self, amt: int|float, ac = 'Account'):
        self.withdraw(amt)
        ac.deposit(amt)

In [69]:
u1 = Account('Priya',1234001,2000)

In [70]:
u1.Balance

2000

In [71]:
u1.deposit(500)

Amount of 500 is added in 1234001
Current Account 1234001 balance is 2500

In [72]:
u1.Balance

2500

In [73]:
u1.check_bal()

Current Account 1234001 balance is 2500

In [74]:
u1.withdraw(500)

Amount of 500 is withdrawl from 1234001

In [75]:
u1.check_bal()

Current Account 1234001 balance is 2000

In [76]:
u1.deposit(100)

Amount of 100 is added in 1234001
Current Account 1234001 balance is 2100

In [77]:
u2 = Account('Teena',10002345,3000)

In [78]:
u2.check_bal()

Current Account 10002345 balance is 3000

In [79]:
u2.transfer(1000,u1)

Amount of 1000 is withdrawl from 10002345
Amount of 1000 is added in 1234001
Current Account 1234001 balance is 3100

In [64]:
u1.check_bal()

Current Account 1234 balance is 1500

In [65]:
u2.transfer(500,u1)

Amount of 500 is withdrawl from 10002345

TypeError: 'int' object is not callable